@model CurrencyExchangeRateIndexVM

<div class="card shadow border-0 mt-1 col-9">
    <div class="card-header bg-secondary bg-gradient ms-0 py-1">
        <div class="row align-items-center">
            <div class="col-7 text-center">
                <h3 class="text-white py-1">Tipos de Cambio</h3>
            </div>
            <div class="col-5 text-end">
                <a class="btn btn-info border mb-1" asp-controller="CurrencyExchangeRate" asp-action="Upsert"
                   data-bs-toggle="tooltip" data-bs-trigger="hover" onclick="fntoggleLoading()" id="btn-upsertexchange"
                   asp-route-currencyType="@((short)Model.CurrencySelected)" data-bs-placement="top" data-bs-title="Nuevo T/Cambio">
                    <i class="bi bi-plus-circle"></i> Nuevo
                </a>
                <a onclick="fnExportExcel()" class="btn btn-outline-warning border text-white mb-1"
                   data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Exportar a Excel">
                    <i class="bi bi-arrow-up-square"></i> Exportar
                </a>
                <a asp-controller="CurrencyExchangeRate" asp-action="Import"
                   data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Importar Excel"
                   class="btn btn-outline-success border text-white mb-1">
                    <i class="bi bi-box-arrow-in-down"></i> Importar
                </a>
            </div>
        </div>
    </div>
    <div class="card-body px-3 py-1">
        <div class="mt-1 pb-1 pt-1 col-12 col-md-4">
            <div class="py-2 border-0 shadow">
                <div class="form-check form-check-inline px-2 me-0">
                    <label class="form-check-label">Moneda</label>
                </div>
                @foreach (var itemCurrency in Model.CurrencyList)
                {
                    <div class="form-check form-check-inline">
                        <input name="CurrencyType" class="form-check-input currencies" type="radio" id="@($"radioBtn{itemCurrency.Value}")"
                               value="@itemCurrency.Value" checked="@(itemCurrency.Selected)" onchange="fnupdateLinkParameter(this)">
                        <label class="form-check-label" for="@($"radioBtn{itemCurrency.Value}")">@itemCurrency.Text</label>
                    </div>
                }
            </div>
        </div>
        <table id="tblData" class="table table-hover table-bordered table-striped responsive nowrap" style="width: 100%">
            <thead>
            <tr>
                <th data-priority="2">Fecha</th>
                <th>Moneda</th>
                <th>Oficial</th>
                <th>Creado</th>
                <th data-priority="1"></th>
            </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts {
    <script>
        let decimalTransa = @Html.Raw(@ViewBag.DecimalTransa);
        let decimalExchange = @Html.Raw(@ViewBag.DecimalExchange);
    </script>
    <script src="~/js/Admin/CurrencyExchangeRate/currencyExchangeRateIndex.js"></script>
}