<div class="container col-xl-11 col-12 p-1 border border-2 m-0">

    <div class="row">
        <div class="col-12 pt-2">
            <h3 class="text-primary">@ViewData[AC.Title]</h3>
        </div>
    </div>

    <hr class="p-0" />

    <div class="row">
        <div class="col-md-5 col-12">
            <h5 class="text-info">Reportes</h5>


            <div class="accordion" id="select-group">
                <!-- Transacciiones -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed border border-primary border-2 border-opacity-25" type="button" data-bs-toggle="collapse"
                                data-bs-target="#transactions" aria-expanded="false" aria-controls="transactions">
                            <i class="bi bi-file-earmark-medical-fill me-1"></i> Transacciones
                        </button>
                    </h2>
                    <div id="transactions" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#select-group">
                        <div class="accordion-body p-1">
                            <select size="6" class="form-select p-1 border border-primary border-opacity-25 select-report">
                                <option value="@((short)SD.ReportTransaType.Operation)">
                                    @(SD.SystemInformationReportTypeName[(short)SD.ReportTransaType.Operation])
                                </option>
                                <option value="@((short)SD.ReportTransaType.Deposit)">
                                    @(SD.SystemInformationReportTypeName[(short)SD.ReportTransaType.Deposit])
                                </option>
                                <option value="@((short)SD.ReportTransaType.Transfer)">
                                    @(SD.SystemInformationReportTypeName[(short)SD.ReportTransaType.Transfer])
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Criterios-->
        <div class="col-md-7 col-12 criteria d-none">
            <h5 class="text-info">Criterios</h5>

            <div class="container p-1 border border-2 border-opacity-25 m-0 d-none" id="report-filters">
                @* <partial name="_BalanceCatalogue" /> *@
            </div>

        </div>

    </div>

</div>

@section Scripts {
    <script src="~/js/Exchange/SystemInformation/systemInformationIndex.js"></script>
}