@model QuotationDetailVM

<form id="formDetailDeposit" method="post" asp-action="UpsertDetail">
    <input asp-for="DataModel.Id" value="@Model.DataModel.Id" name="Id" id="idDetailDeposit" hidden />
    <input asp-for="DataModel.ParentId" value="@Model.ModelCreateVM.DataModel.Id" name="ParentId" hidden />
    <input asp-for="DataModel.CompanyId" value="@Model.ModelCreateVM.DataModel.CompanyId" name="CompanyId" hidden />
    <input asp-for="DataModel.BankTargetId" value="@Model.DataModel.BankSourceId" id="bankTargetDeposit" name="BankTargetId" hidden />
    <input asp-for="DataModel.BankSourceId" value="@Model.DataModel.BankSourceId" id="bankSourceDeposit" name="BankSourceId" hidden />
    <input asp-for="DataModel.QuotationDetailType" value="@((int)SD.QuotationDetailType.Deposit)" name="QuotationDetailType" hidden />
    <input asp-for="DataModel.CurrencyDetailId" value="@Model.ModelCreateVM.DataModel.CurrencyDepositId" name="CurrencyDetailId" hidden />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-1 bg-secondary bg-gradient">
                <h1 class="modal-title text-white fs-3" id="staticBackdropLabelDeposit"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body row pt-0 mt-1">
                <h5 class="text-success mb-1 ps-0" id="infoModalDeposit"></h5>
                <hr class="w-100 mb-1" />
                <div class="row mb-1">
                    <div class="col-2">
                        Monto
                    </div>
                    <div class="col-6">
                        <input id="amountDeposit" asp-for="DataModel.AmountDetail" name="AmountDetail" class="form-control border p-1 decimalTransa text-end" />
                        <span class="text-danger" asp-validation-for="DataModel.AmountDetail"></span>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <a type="button" class="btn btn-info m-0 btn-sm border"
                           data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Agregar Automáticamente" onclick="fnBtnAddPendingDeposit()">
                            <i class="bi bi-plus-square"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        Banco
                    </div>
                    <div class="col-9">
                        @*  <select asp-for="DataModel.BankSourceId"
                        class="form-select border p-1" size="10" id="selectBankSourceDeposit" style="width: 100%; height: 100%">
                        <option disabled selected>--Select Banco--</option>
                        @foreach (var bank in Model.BankList)
                        {
                        <option value="@bank.Id" data-thumbnail="@bank.LogoUrl">@bank.Code</option>
                        }
                        </select> *@
                        <table id="tblBankSourceDeposit" class="table table-hover table-bordered responsive nowrap" style="width: 100%">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle my-0 py-0">Logo</th>
                                    <th class="text-center align-middle my-0 py-0">Iniciales</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-sm btn-danger"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cancelar" data-bs-dismiss="modal">
                    <i class="bi bi-x-square"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-sm btn-primary"
                        data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Salvar">
                    <i class="bi bi-floppy"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</form>