@model QuotationDetailVM

<form method="post" asp-action="CreateDetail">
    <input asp-for="DataModel.Id" value="@Model.DataModel.Id" id="idDetailDeposit" hidden />
    <input asp-for="DataModel.ParentId" value="@Model.ModelCreateVM.DataModel.Id" hidden/>
    <input asp-for="DataModel.CompanyId" value="@Model.ModelCreateVM.DataModel.CompanyId" hidden/>
    <input asp-for="DataModel.BankTargetId" value="@Model.DataModel.BankSourceId" hidden />
    <input asp-for="DataModel.QuotationDetailType" value="@((int)SD.QuotationDetailType.Deposit)" hidden/>
    <input asp-for="DataModel.CurrencyDetailId" value="@Model.ModelCreateVM.DataModel.CurrencyDepositId" hidden/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-1 bg-secondary bg-gradient">
                <h1 class="modal-title text-white fs-3" id="staticBackdropLabelDeposit"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body row pt-0 mt-1">
                <h5 class="text-success mb-1 ps-0" id="infoModalDeposit"></h5>
                <hr class="w-100 mb-1"/>
                <div class="row mb-1">
                    <div class="col-2">
                        Monto
                    </div>
                    <div class="col-6">
                        <input id="amountDeposit" asp-for="DataModel.AmountDetail" class="form-control border p-1 decimalTransa" />
                        <span class="text-danger" asp-validation-for="DataModel.AmountDetail"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        Banco
                    </div>
                    <div class="col-9">
                        <select asp-for="DataModel.BankSourceId"
                                class="form-select border p-1" size="10" id="selectBankSourceDeposit">
                            <option disabled selected>--Select Banco--</option>
                            @foreach (var bank in Model.BankList)
                            {
                                <option value="@bank.Id">@bank.Code</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="DataModel.BankSourceId"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">
                    <i class="bi bi-x-square"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-sm btn-primary">
                    <i class="bi bi-floppy"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</form>