@model QuotationDetailVM

<div class="card-body p-1">
    <div class="row m-1 bg-primary bg-gradient p-1">
        <div class="col-3 col-md-2 col-xl-1 mb-1">
            <h5 class="text-white fs-6">Cliente</h5>
        </div>
        <div class="col-9 col-xl-4 col-xxl-4 mb-1">
            <input class="form-control text-start border p-1 shadow" value="@Model.CustomerFullName" readonly />
        </div>
        <div class="col-3 col-md-2 col-xl-1 mb-1">
            <h5 class="text-white fs-6"># Transa</h5>
        </div>
        <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1 me-1">
            <input class="form-control text-start border p-1 shadow" value="@Model.NumberTransa" readonly />
        </div>
        <div class="col-3 col-md-2 col-xl-1 mb-1 @(Model.ModelCreateVM.DataModel.TypeNumeral == SD.QuotationType.Transfer ? "offset-md-1 offset-xl-0" : ' ')">
            <h5 class="text-white fs-6">Fecha</h5>
        </div>
        <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1 me-1">
            <input class="form-control text-start border p-1 shadow" value="@Model.ModelCreateVM.DataModel.DateTransa" readonly />
        </div>
        <div class="col-3 col-md-2 col-xl-1 col-xxl-1 mb-1">
            <h5 class="text-white fs-6">T/C Oficial</h5>
        </div>
        <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1 me-1">
            <input class="form-control text-end border p-1 shadow decimalTC" id="TCOficial" value="@Model.ModelCreateVM.DataModel.ExchangeRateOfficialTransa" readonly />
        </div>
        @if (Model.ModelCreateVM.DataModel.TypeNumeral == SD.QuotationType.Buy)
        {
            <div class="col-3 col-md-2 col-xl-1 col-xxl-1 mb-1 pe-xl-0">
                <h5 class="text-white fs-6">T/C Compra</h5>
            </div>
            <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1 me-1">
                <input class="form-control text-end border p-1 shadow decimalTC" id="TCHeader" value="@Model.ModelCreateVM.DataModel.ExchangeRateBuyTransa" readonly />
            </div>
            <div class="col-xl-5 d-none d-xl-block">
            </div>
        }
        else if (Model.ModelCreateVM.DataModel.TypeNumeral == SD.QuotationType.Sell)
        {
            <div class="col-3 col-md-2 col-xl-1 col-xxl-1 mb-1">
                <h5 class="text-white fs-6">T/C Venta</h5>
            </div>
            <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1 me-1">
                <input class="form-control text-end border p-1 shadow decimalTC" id="TCHeader" value="@Model.ModelCreateVM.DataModel.ExchangeRateSellTransa" readonly />
            </div>
            <div class="col-xl-5 d-none d-xl-block">
            </div>
        }
        <div class="col-3 col-md-2 col-xl-1 mb-1 @(Model.ModelCreateVM.DataModel.TypeNumeral == SD.QuotationType.Transfer ? "offset-md-1 offset-xl-0 offset-xxl-0" : ' ')">
            <h5 class="text-white fs-6">Monto</h5>
        </div>
        <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1">
            <input class="form-control text-end border p-1 shadow decimalTransa" id="amountHeader" value="@Model.ModelCreateVM.DataModel.AmountTransaction" readonly />
        </div>
        @if (Model.ModelCreateVM.DataModel.TypeNumeral != SD.QuotationType.Transfer)
        {
           @*  <div class="col-8 col-md-3 col-xl-2 col-xxl-2 d-none d-xl-block">
            </div> *@
            <div class="col-3 col-md-2 col-xl-1 col-xxl-1 mb-1">
                <h5 class="text-white fs-6 ms-md-1">Monto M/C</h5>
            </div>
            <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1 ps-md-3">
                <input class="form-control text-end border shadow p-1 decimalTransa" id="amountExchange" value="@Model.ModelCreateVM.DataModel.AmountExchange" readonly />
            </div>
        }
        else
        {
            <div class="col-3 col-md-2 col-xl-1 col-xxl-1 mb-1">
                <h5 class="text-white fs-6 ms-md-1">Comisión</h5>
            </div>
            <div class="col-8 col-md-3 col-xl-2 col-xxl-2 mb-1 ps-md-3">
                <input class="form-control text-end border p-1 shadow decimalTransa" id="amountCommission" value="@Model.ModelCreateVM.DataModel.AmountCommission" readonly />
            </div>
        }
    </div>
    <hr />
    <div class="row mt-1">
        <div class="col-xl-6">
            <div class="row">
                <div class="d-flex justify-content-start">
                    <h5 class="m-0 ms-2 col-10 align-content-center" id="tableRowLabelDeposit"></h5>
                </div>
            </div>
            <table id="tblDeposit" class="table table-hover table-bordered table-striped responsive nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th class="text-center align-middle my-0 py-0">#</th>
                        <th data-priority="1" class="text-center align-middle my-0 py-0">Banco</th>
                        <th data-priority="2" class="text-center align-middle my-0 py-0">Importe</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th id="totalAmountDeposit" colspan="3"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-xl-6">
            <div class="row">
                <div class="d-flex justify-content-start">
                    <h5 class="m-0 ms-2 col-10 align-content-center" id="tableRowLabelTransfer"></h5>
                </div>
            </div>
            <table id="tblTransfer" class="table table-hover table-bordered table-striped responsive nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th class="text-center align-middle my-0 py-0">#</th>
                        <th data-priority="1" class="text-center align-middle my-0 py-0">Banco Origen</th>
                        <th data-priority="2" class="text-center align-middle my-0 py-0">Banco Destino</th>
                        <th data-priority="3" class="text-center align-middle my-0 py-0">Importe</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th id="totalAmountTransfer" colspan="4"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>