@model QuotationCreateVM

<form id="formUpdateHeader" method="post" asp-action="Update">
    <input asp-for="DataModel.Id" value="@Model.DataModel.Id" name="Id" hidden />
    <input asp-for="DataModel.CompanyId" value="@Model.DataModel.CompanyId" name="CompanyId" hidden />
    <input hidden asp-for="DataModel.TotalTransfer" name="TotalTransfer" />
    <input hidden asp-for="DataModel.TotalDeposit" name="TotalDeposit" />
    <input hidden asp-for="DataModel.BusinessExecutiveCode" name="BusinessExecutiveCode" />
    <input hidden asp-for="DataModel.BusinessExecutiveId" name="BusinessExecutiveId" />


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Actualizar - Cotización</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1">
                        <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Tipo</div>
                        <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-1 ps-xl-2 p-1">
                            @foreach (var quotationType in Model.QuotationTypeList)
                            {
                                var isChecked = (quotationType.Id == Model.DataModel.TypeId);

                                <div class="form-check mt-0 mx-0 form-check-inline" id="@("quotationType_divradio_" + quotationType.Numeral)">
                                    <input name="QuotationTypes"
                                           checked="@isChecked" disabled
                                           class="form-check-input border border-dark-subtle typeNumerals" type="radio"
                                           id="@("quotationType_radio_" + quotationType.Numeral)"
                                           value="@quotationType.Numeral" required />
                                    <label class="form-check-label" for="@("quotationType_label_" + quotationType.Numeral)">@quotationType.Code</label>
                                </div>
                            }
                            <span asp-validation-for="DataModel.TypeNumeral" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1">
                        <div class="col-sm-5 col-lg-4 col-4">Fecha</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.DateTransa" type="date" id="dateTransa" name="DateTransa" class="form-control border p-1 shadow" />
                            <span asp-validation-for="DataModel.DateTransa" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-xl-8 col-12 ps-2 mb-1" id="divCustomer">
                        <div class="col-4 col-sm-5 col-md-5 col-lg-2 me-lg-0 ps-3">Cliente</div>
                        <div class="col-8 col-sm-7 col-md-7 col-lg-7 ms-xl-1 ps-lg-2 ps-xl-2">
                            <select asp-for="DataModel.CustomerId" asp-items="@Model.CustomerList"
                                    class="form-select border p-1 shadow" id="selectCustomer" name="CustomerId">
                                <option disabled selected>--Select Cliente--</option>
                            </select>
                            <span asp-validation-for="DataModel.CustomerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-8 col-12 ps-2 mb-1 typeTransfer" hidden>
                        <div class="col-4 col-sm-5 col-md-5 col-lg-2 me-lg-0 ps-3">Cta/Ban Orig.</div>
                        <div class="col-8 col-sm-7 col-md-7 col-lg-7 ms-xl-1 ps-lg-2 ps-xl-2">
                            <select asp-for="DataModel.BankAccountSourceId" name="BankAccountSourceId" asp-items="@Model.BankAccountSourceList" disabled
                                    class="form-select border p-1 shadow" id="selectBankAccountSource">
                            </select>
                            <span asp-validation-for="DataModel.BankAccountSourceId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-8 col-12 ps-2 mb-1 typeTransfer" hidden>
                        <div class="col-4 col-sm-5 col-md-5 col-lg-2 me-lg-0 ps-3">Cta/Ban Dest.</div>
                        <div class="col-8 col-sm-7 col-md-7 col-lg-7 ms-xl-1 ps-lg-2 ps-xl-2">
                            <select asp-for="DataModel.BankAccountTargetId" name="BankAccountTargetId" asp-items="@Model.BankAccountTargetList" disabled
                                    class="form-select border p-1 shadow" id="selectBankAccountTarget">
                            </select>
                            <span asp-validation-for="DataModel.BankAccountTargetId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1" id="divCurrencyTransa">
                        <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Transa</div>
                        <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-1 ps-xl-2">
                            @foreach (var currency in Model.CurrencyTransferList)
                            {
                                var isChecked = (currency.Id == Model.DataModel.CurrencyTransaId);

                                <div class="form-check mt-2 mx-1 form-check-inline"
                                     id="@("currencyTransaType_divradio_"+currency.Numeral)">
                                    <input name="CurrencyTransaTypes"
                                           checked="@isChecked" disabled
                                           class="form-check-input border border-dark-subtle currenciesTransa" type="radio"
                                           id="@("currencyTransaType_radio_" + currency.Numeral)" value="@currency.Numeral" />
                                    <label class="form-check-label" for="@("currencyTransaType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1" id="divCurrencyTransfer">
                        <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Transfer</div>
                        <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-1 ps-xl-2">
                            @foreach (var currency in Model.CurrencyTransferList)
                            {
                                var isChecked = (currency.Id == Model.DataModel.CurrencyTransferId);
                                <div class="form-check mt-2 mx-1 form-check-inline"
                                     id="@("currencyTransferType_divradio_"+currency.Numeral)">
                                    <input name="CurrencyTransferTypes" checked="@isChecked" disabled
                                           class="form-check-input border border-dark-subtle currenciesTransfer" type="radio"
                                           id="@("currencyTransferType_radio_" + currency.Numeral)"
                                           value="@currency.Numeral" />
                                    <label class="form-check-label" for="@("currencyTransferType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1" id="divCurrencyDeposit" hidden>
                        <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Deposit</div>
                        <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-1 ps-xl-2">
                            @foreach (var currency in Model.CurrencyDepositList)
                            {
                                var isChecked = (currency.Id == Model.DataModel.CurrencyDepositId);
                                <div class="form-check mt-2 mx-1 form-check-inline"
                                     id="@("currencyDepositType_divradio_"+currency.Numeral)">
                                    <input name="CurrencyDepositTypes" checked="@isChecked" disabled
                                           class="form-check-input border border-dark-subtle currenciesDeposit" type="radio"
                                           id="@("currencyDepositType_radio_" + currency.Numeral)"
                                           value="@currency.Numeral" />
                                    <label class="form-check-label" for="@("currencyDepositType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                </div>
                            }

                        </div>
                    </div>
                    @if (Model.DataModel.TypeNumeral != SD.QuotationType.Transfer)
                    {
                        @*Contenedor separador, simula un espacio*@
                        <div class="row col-xl-4 d-none d-xl-block">
                        </div>
                    }
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1">
                        <div class="col-sm-5 col-lg-4 col-4">T/C Oficial</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.ExchangeRateOfficialTransa" name="ExchangeRateOfficialTransa" id="exchangeRateOfficialTransa" class="form-control text-end border p-1 shadow decimalTC" step="any" readonly />
                            <span asp-validation-for="DataModel.ExchangeRateOfficialTransa" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1 typeBuy">
                        <div class="col-sm-5 col-lg-4 col-4">T/C Compra</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.ExchangeRateBuyTransa" id="exchangeRateBuyTransa" name="ExchangeRateBuyTransa" class="form-control text-end border p-1 shadow decimalTC" step="any" />
                            <span asp-validation-for="DataModel.ExchangeRateBuyTransa" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1 typeSell" hidden>
                        <div class="col-sm-5 col-lg-4 col-4">T/C Venta</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.ExchangeRateSellTransa" id="exchangeRateSellTransa" name="ExchangeRateSellTransa" class="form-control text-end border p-1 shadow decimalTC" step="any" />
                            <span asp-validation-for="DataModel.ExchangeRateSellTransa" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1" id="divExchangeRateVariation" hidden>
                        <div class="col-sm-5 col-lg-4 col-4">T/C Variación</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input id="exchangeRateVariation" class="form-control text-end border p-1 shadow decimalTC" step="any" readonly />
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1">
                        <div class="col-sm-5 col-lg-4 col-4">Monto</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.AmountTransaction" id="amountTransa" name="AmountTransaction" class="form-control text-end border p-1 shadow decimalTransa" step="any" />
                            <span asp-validation-for="DataModel.AmountTransaction" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1" id="divAmountExchange">
                        <div class="col-sm-5 col-lg-4 col-4">Monto Mesa/C</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.AmountExchange" id="amountExchange" name="AmountExchange" class="form-control text-end border p-1 shadow decimalTransa" step="any" readonly />
                            <span asp-validation-for="DataModel.AmountExchange" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1 typeSell" id="divRevenue" hidden>
                        <div class="col-sm-5 col-lg-4 col-4">Ingreso</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.AmountRevenue" id="amountRevenue" name="AmountRevenue" class="form-control text-end border p-1 shadow decimalTransa" step="any" readonly />
                            <span asp-validation-for="DataModel.AmountRevenue" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1 typeBuy" id="divCost">
                        <div class="col-sm-5 col-lg-4 col-4">Costo</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input asp-for="DataModel.AmountCost" id="amountCost" name="AmountCost" class="form-control text-end border p-1 shadow decimalTransa" step="any" readonly />
                            <span asp-validation-for="DataModel.AmountCost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row col-xl-4 col-lg-6 col-12 mb-1" id="divCommission" hidden>
                        <div class="col-sm-5 col-lg-4 col-4">Comisión TRF</div>
                        <div class="col-xl-6 col-sm-7 col-8">
                            <input id="commission" asp-for="DataModel.AmountCommission" name="AmountCommission" class="form-control text-end border p-1 shadow decimalTransa" step="any" />
                            <span asp-validation-for="DataModel.AmountCommission" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-sm btn-danger"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Cancelar" data-bs-dismiss="modal">
                    <i class="bi bi-x-square"></i> Cancelar
                </button>
                <button type="submit" class="btn btn-sm btn-primary"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Salvar">
                    <i class="bi bi-floppy"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</form>