@model QuotationDetailVM

<input value="@Model.ModelCreateVM.DataModel.Id" id="parentId" hidden />


<div class="card shadow border-0 mt-1">
    <div class="card-header bg-secondary bg-gradient">
        <div class="row mb-1">
            <div class="col-12 col-md-6 pb-1">
                <h2 class="text-white text-center text-md-start py-1">Detalle - Cotización</h2>
            </div>
            <div class="row col mt-1 d-flex justify-content-end">
                <div class="col-6 col-md-5 col-xl-4">
                    <a onclick="fnApproved" class="btn btn-info form-control btn-sm">
                        <i class="bi bi-check-square-fill"></i> Cerrar Cotización
                    </a>
                </div>
                <div class="col-6 col-md-5 col-xl-4">
                    <a asp-action="Index" class="btn btn-secondary form-control btn-sm">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="card-body p-1">
        <div class="row m-1 bg-secondary bg-gradient p-1">
            <div class="col-3 col-md-2 col-xl-1 mb-1">
                <h5 class="text-white">Cliente</h5>
            </div>
            <div class="col-9 col-xl-6 mb-1">
                <input class="form-control text-start border p-1" value="@Model.CustomerFullName" readonly />
            </div>
            <div class="col-3 col-md-2 col-xl-1 mb-1">
                <h5 class="text-white"># Transa</h5>
            </div>
            <div class="col-8 col-md-4 col-xl-3 mb-1 me-1">
                <input class="form-control text-start border p-1" value="@Model.NumberTransa" readonly />
            </div>
            <div class="col-3 col-md-2 col-xl-1 mb-1">
                <h5 class="text-white">Fecha</h5>
            </div>
            <div class="col-8 col-md-3 col-xl-2 mb-1 me-1">
                <input class="form-control text-start border p-1" value="@Model.ModelCreateVM.DataModel.DateTransa" readonly />
            </div>
            <div class="col-3 col-md-2 col-xl-1 mb-1">
                <h5 class="text-white">T/C Oficial</h5>
            </div>
            <div class="col-8 col-md-3 col-xl-2 mb-1 me-1">
                <input class="form-control text-end border p-1" id="TCHeader" value="@Model.ModelCreateVM.DataModel.ExchangeRateOfficialTransa" readonly />
            </div>
            <div class="col-3 col-md-2 col-xl-1 mb-1 offset-md-1">
                <h5 class="text-white">Monto</h5>
            </div>
            <div class="col-8 col-md-3 col-xl-2 mb-1 ps-xl-2">
                <input class="form-control text-end border p-1" id="amountHeader" value="@Model.ModelCreateVM.DataModel.AmountTransa" readonly />
            </div>
        </div>
        <hr />
        <div class="row mt-1">
            <div class="col-xl-6">
                <div class="row">
                    <div class="d-flex justify-content-start">
                        <a type="button" class="btn btn-info fs-2"
                           data-bs-toggle="tooltip" data-bs-title="Crear" onclick="fnShowModalDeposit()">
                            <i class="bi bi-plus"></i>
                        </a>
                        <h5 class="m-0 ms-2 col-10 align-content-center" id="tableRowLabelDeposit"></h5>
                    </div>
                </div>
                <table id="tblDeposit" class="table table-hover table-bordered table-striped responsive nowrap" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="text-center align-middle my-0 py-0">#</th>
                            <th data-priority="1" class="text-center align-middle my-0 py-0">Banco</th>
                            <th data-priority="2" class="text-center align-middle my-0 py-0">Importe</th>
                            <th data-priority="3" class="text-center align-middle my-0 py-0"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th id="totalAmountDeposit" colspan="3"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <div class="d-flex justify-content-start">
                        <a type="button" class="btn btn-info fs-2"
                           data-bs-toggle="tooltip" data-bs-title="Crear"
                           onclick="fnShowModalTransfer()">
                            <i class="bi bi-plus"></i>
                        </a>
                        <h5 class="m-0 ms-2 col-10 align-content-center" id="tableRowLabelTransfer"></h5>
                    </div>
                </div>
                <table id="tblTransfer" class="table table-hover table-bordered table-striped responsive nowrap" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="text-center align-middle my-0 py-0">#</th>
                            <th data-priority="1" class="text-center align-middle my-0 py-0">Banco Origen</th>
                            <th data-priority="2" class="text-center align-middle my-0 py-0">Banco Destino</th>
                            <th data-priority="3" class="text-center align-middle my-0 py-0">Importe</th>
                            <th data-priority="4" class="text-center align-middle my-0 py-0"></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th id="totalAmountTransfer" colspan="4"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal fade" id="modalCreateDeposit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <partial name="_CreateDetailDeposit" />
            </div>
            <div class="modal fade modal-lg" id="modalCreateTransfer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <partial name="_CreateDetailTransfer" />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        let decimalTransa = @Html.Raw(@ViewBag.DecimalTransa);
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script defer src="~/js/Exchange/Quotation/quotationDetail.js"></script>
}