@model QuotationCreateVM
<form method="post">
    <div class="container">
        <div class="card">
            <div class="card-header bg-secondary bg-gradient">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <h2 class="text-white text-center text-md-start py-1">Crear - Cotización</h2>
                    </div>
                    <div class="row col mt-1 d-flex justify-content-end">
                        <div class="col-6 col-md-5 col-xl-4">
                            <button type="submit" class="btn btn-primary form-control btn-sm">
                                <i class="bi bi-disc"></i> Crear
                            </button>
                        </div>
                        <div class="col-6 col-md-5 col-xl-4">
                            <a asp-action="Index" class="btn btn-secondary form-control btn-sm">
                                <i class="bi bi-arrow-return-left"></i> Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input hidden asp-for="DataModel.Id" />
                        <input hidden asp-for="DataModel.CompanyId" />
                        <input hidden asp-for="DataModel.CurrencyTransaType" id="currencyTransaType" />
                        <input hidden asp-for="DataModel.TypeNumeral" id="typeNumeral" />
                        <input hidden asp-for="DataModel.CurrencyOriginExchangeType" id="currencyOriginExchangeType" />

                        <div class="row my-1">
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Tipo</div>
                                <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 w-auto ms-1 ms-md-1 ps-xl-2 p-1">
                                    @foreach (var quotationType in Model.QuotationTypeList)
                                    {
                                        <div class="form-check mt-0 mx-0 form-check-inline" id="@("quotationType_divradio_" + quotationType.Numeral)">
                                            <input name="QuotationTypes"
                                                   class="form-check-input border border-dark-subtle typeNumerals" type="radio"
                                                   id="@("quotationType_radio_" + quotationType.Numeral)"
                                                   value="@quotationType.Numeral" required />
                                            <label class="form-check-label" for="@("quotationType_label_" + quotationType.Numeral)">@quotationType.Code</label>
                                        </div>
                                    }
                                    <span asp-validation-for="DataModel.TypeNumeral" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">Fecha</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.DateTransa" type="date" id="dateTransa" class="form-control border p-1" />
                                    <span asp-validation-for="DataModel.DateTransa" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-xl-8 col-12 ps-2 mb-1">
                                <div class="col-4 col-sm-5 col-md-2 me-lg-0 me-md-3 ps-3">Cliente</div>
                                <div class="col-8 col-sm-7 col-md-8 ms-lg-1 ms-md-3 ps-lg-2 ps-xl-2">
                                    <select asp-for="DataModel.CustomerId" asp-items="@Model.CustomerList"
                                            class="form-select border p-1" id="selectCustomer">
                                        <option disabled selected>--Select Cliente--</option>
                                    </select>
                                    <span asp-validation-for="DataModel.CustomerId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Transa</div>
                                <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 w-auto ms-1 ms-md-1 ps-xl-2">
                                    @foreach (var currency in Model.CurrencyTransaList)
                                    {
                                        var isChecked = (currency == Model.CurrencyTransaList.First());

                                        <div class="form-check mt-2 mx-1 form-check-inline"
                                             id="@("currencyTransaType_divradio_"+currency.Numeral)">
                                            <input name="Currencies"
                                                   class="form-check-input border border-dark-subtle currencies" type="radio"
                                                   checked="@isChecked"
                                                   id="@("currencyTransaType_radio_" + currency.Numeral)"
                                                   value="@currency.Numeral"
                                                   onclick="return currencyTransaType_onClick(this)" />
                                            <label class="form-check-label" for="@("currencyTransaType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Origen</div>
                                <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 w-auto ms-1 ms-md-1 ps-xl-2">
                                    @foreach (var currency in Model.CurrencyOriginExchangeList)
                                    {
                                        <div class="form-check mt-2 mx-1 form-check-inline"
                                             id="@("currencyOriginExchangeType_divradio_"+currency.Numeral)">
                                            <input name="CurrencyOriginExchangeTypes"
                                                   class="form-check-input border border-dark-subtle currenciesOrigin" type="radio"
                                                   id="@("currencyOriginExchangeType_radio_" + currency.Numeral)" value="@currency.Numeral" />
                                            <label class="form-check-label" for="@("currencyOriginExchangeType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                        </div>
                                    }
                                    <span asp-validation-for="DataModel.CurrencyOriginExchangeType" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">T/C Oficial</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.ExchangeRateOfficialTransa" id="exchangeRateOfficialTransa" type="number" class="form-control text-end border p-1" step="any" />
                                    <span asp-validation-for="DataModel.ExchangeRateOfficialTransa" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">T/C Compra</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.ExchangeRateBuyTransa" type="number" id="exchangeRateBuyTransa" class="form-control text-end border p-1" step="any" />
                                    <span asp-validation-for="DataModel.ExchangeRateBuyTransa" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">Monto</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.AmountTransa" type="number" id="amountTransa" class="form-control text-end border p-1" step="any" />
                                    <span asp-validation-for="DataModel.AmountTransa" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">Costo</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.AmountCost" type="number" id="amountCost" class="form-control text-end border p-1" step="any" />
                                    <span asp-validation-for="DataModel.AmountCost" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>



@section Scripts {
    <script>
        let divnamecurExchange = "currencyOriginExchangeType_divradio_";
        let radnamecurExchange = "currencyOriginExchangeType_radio_";
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/Exchange/Quotation/quotationUpsert.js"></script>
}