@model QuotationDetailVM

<input value="@Model.ModelCreateVM.DataModel.Id" id="parentId" hidden />
<input value="@((int)Model.ModelCreateVM.DataModel.TypeNumeral)" id="type" hidden />



<div class="card shadow border-0 mt-1">
    <div class="card-header bg-secondary bg-gradient">
        <div class="row mb-1">
            <div class="col-12 col-md-6 pb-1">
                <h2 class="text-white text-center text-md-start py-1">Eliminar - Cotización</h2>
            </div>
            <div class="row col mt-1 d-flex justify-content-end">
                <div class="col-6 col-md-5 col-xl-4">
                    <a onclick="fndeleteRow(@Model.ModelCreateVM.DataModel.Id)" class="btn btn-danger form-control btn-sm">
                        <i class="bi bi-check-square-fill"></i> Eliminar
                    </a>
                </div>
                <div class="col-6 col-md-5 col-xl-4">
                    <a asp-action="Index" class="btn btn-secondary form-control btn-sm">
                        <i class="bi bi-arrow-return-left"></i> Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Detail" model="@Model" />
   
</div>
@section Scripts {
    <script>
        let decimalTransa = @Html.Raw(@ViewBag.DecimalTransa);
        let decimalExchange = @Html.Raw(@ViewBag.DecimalExchange);
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script defer src="~/js/Exchange/Quotation/quotationDelete.js"></script>
}