@model TransactionReportVM

<div class="card shadow border-0 mt-1">
    <form method="post" id="formPrint" asp-area="Exchange" asp-controller="SystemInformation" asp-action="PrintTransaOperationList" target="_blank">
        <input asp-for="ReportType" value="@((short)SD.ReportTransaType.Operation)" name="ReportType" hidden />
        <input asp-for="DateTransaInitial" name="DateTransaInitial" type="date" id="dateInitialReport" hidden />
        <input asp-for="DateTransaFinal" name="DateTransaFinal" type="date" id="dateFinalReport" hidden />
        <div class="card-header ms-0 py-1">
            <div class="row align-items-center">
                <div class="col-7 text-center">
                    <h3 class="text-black py-1">Transacciones</h3>
                </div>
                <div class="col-5 text-end">
                    <a class="btn btn-info border" asp-controller="Quotation" asp-action="Upsert"
                       data-bs-toggle="tooltip" data-bs-trigger="hover" onclick="fnredirectBtnIndex(event)" data-bs-placement="top" data-bs-title="Nuevo Cotización">
                        <i class="bi bi-plus-circle"></i> Nuevo
                    </a>
                    <button class="btn btn-secondary border" type="submit"
                            data-bs-toggle="tooltip" data-bs-trigger="hover" onclick="fntoggleLoading('Generando Reporte...')"
                            data-bs-placement="top" data-bs-title="Imprimir Operaciones">
                        <i class="bi bi-printer-fill"></i> Imprimir
                    </button>
              @*       <a onclick="fnExportExcel()" class="btn btn-outline-warning bg-gradient border"
                       data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Exportar a Excel">
                        <i class="bi bi-arrow-up-square"></i> Exportar
                    </a>
                    <a asp-controller="Quotation" asp-action="Import"
                       data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Importar Excel" class="btn btn-outline-success bg-gradient border">
                        <i class="bi bi-box-arrow-in-down"></i> Importar
                    </a> *@
                </div>
            </div>
        </div>
    </form>

    <div class="card-body px-3 py-1">
        <table id="tblData" class="table table-bordered responsive nowrap compact" style="width: 100%">
            <thead>
                <tr>
                    <th data-priority="2">Fecha</th>
                    <th data-priority="3"># Transa</th>
                    <th>Cliente</th>
                    <th>Mon<br />Ori-Des</th>
                    <th>T/C<br />Com</th>
                    <th>T/C<br />Vta</th>
                    <th data-priority="4">Monto</th>
                    <th>Ingreso</th>
                    <th>Costo</th>
                    <th>Eje</th>
                    <th>Cerra<br />?</th>
                    <th>Conta<br />?</th>
                    <th data-priority="1"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        let decimalTransa = @Html.Raw(@ViewBag.DecimalTransa);
        let isNewEntry = @Html.Raw(@ViewBag.IsNewEntry);
        let processingDate = @Html.Raw(@ViewBag.ProcessingDate);
        let decimalExchange = @Html.Raw(@ViewBag.DecimalExchange);

    </script>
    <script src="~/js/Exchange/Quotation/quotationIndex.js"></script>
}