@model QuotationCreateVM
<form id="formUpsert" method="post" asp-action="Upsert">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-secondary bg-gradient">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <h2 class="text-white text-center text-md-start py-1">@(Model.DataModel.Id != 0 ? "Actualizar" : "Crear") - Cotización</h2>
                    </div>
                    <div class="row col mt-1 d-flex justify-content-end">
                        <div class="col-6 col-md-5 col-xl-4" id="btnSaveClosed" onclick="fnSaveClosed()" hidden>
                            <a class="btn btn-info form-control btn-sm border"
                               data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Cerrar y Guardar">
                                <i class="bi bi-check-square-fill"></i> Cerrar
                            </a>
                        </div>
                        <div class="col-6 col-md-5 col-xl-4" id="btnSaveReClosed" onclick="fnSaveReClosed()" hidden>
                            <a class="btn btn-info form-control btn-sm border"
                               data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Re-Cerrar y Guardar">
                                <i class="bi bi-check-square-fill"></i> Re-Cerrar
                            </a>
                        </div>
                        <div class="col-6 col-md-5 col-xl-4" id="btnNext">
                            <a class="btn btn-primary form-control btn-sm border"
                               data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Siguiente"
                               onclick="fnSaveNext()">
                                <i class="bi bi-arrow-right-circle"></i> Siguiente
                            </a>
                            <button type="submit" id="btnSaveNext" hidden>
                            </button>
                        </div>
                        <div class="col-6 col-md-5 col-xl-4" id="btnSaveReturn" hidden>
                            <a class="btn btn-success form-control btn-sm border"
                               data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Guardar y Regresar" onclick="fnSaveReturn()">
                                <i class="bi bi-disc"></i> Guardar
                            </a>
                        </div>
                        <div class="col-6 col-md-5 col-xl-4">
                            <a asp-action="Index" class="btn btn-secondary form-control btn-sm border"
                               data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Regresar">
                                <i class="bi bi-arrow-return-left"></i> Regresar
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <input hidden asp-for="DataModel.Id" name="Id" />
                        <input hidden asp-for="DataModel.IsLoan" name="IsLoan" />
                        <input hidden asp-for="DataModel.IsPosted" name="IsPosted" />
                        <input hidden asp-for="DataModel.IsClosed" name="IsClosed" />
                        <input hidden asp-for="DataModel.IsClosed" value="@Model.DataModel.IsClosed" id="isClosedElement" />
                        <input hidden asp-for="DataModel.IsPayment" name="IsPayment" />
                        <input hidden asp-for="DataModel.CompanyId" name="CompanyId" />
                        <input hidden asp-for="DataModel.InternalSerial" name="InternalSerial" />
                        <input hidden asp-for="DataModel.BusinessExecutiveCode" name="BusinessExecutiveCode" />
                        <input hidden asp-for="DataModel.TotalTransfer" name="TotalTransfer" />
                        <input hidden asp-for="DataModel.TotalDeposit" name="TotalDeposit" />
                        <input hidden asp-for="DataModel.TypeNumeral" id="typeNumeral" name="TypeNumeral" />
                        <input hidden asp-for="DataModel.CurrencyTransaType" id="currencyTransaType" name="CurrencyTransaType" />
                        <input hidden asp-for="DataModel.CurrencyDepositType" id="currencyDepositType" name="CurrencyDepositType" />
                        <input hidden asp-for="DataModel.CurrencyTransferType" id="currencyTransferType" name="CurrencyTransferType" />
                        <div class="row">
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-0 me-lg-2">Tipo</div>
                                <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-3 ms-lg-1 ps-xl-2 p-1">
                                    @foreach (var quotationType in Model.QuotationTypeList)
                                    {
                                        var isChecked = (quotationType == Model.QuotationTypeList.First());

                                        <div class="form-check mt-0 mx-0 form-check-inline" id="@("quotationType_divradio_" + quotationType.Numeral)">
                                            <input name="QuotationTypes"
                                                   checked="@isChecked"
                                                   class="form-check-input border border-dark-subtle typeNumerals" type="radio"
                                                   id="@("quotationType_radio_" + quotationType.Numeral)"
                                                   value="@quotationType.Numeral" required />
                                            <label class="form-check-label" for="@("quotationType_label_" + quotationType.Numeral)">@quotationType.Code</label>
                                        </div>
                                    }
                                    <span asp-validation-for="DataModel.TypeNumeral" class="text-danger"></span>
                                </div>
                            </div>
                            @{
                                var minimo = "";

                                if (Model.ExistProcessingDate)
                                {
                                    minimo = Model.ProcessingDate.ToString(AC.DefaultDateFormatWeb);
                                }
                            }

                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">Fecha</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.DateTransa" type="date" min="@minimo"
                                           id="dateTransa" class="form-control border p-1 shadow" name="DateTransa" />
                                    <span asp-validation-for="DataModel.DateTransa" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="row col-xl-8 col-12 ps-2 mb-1" id="divCustomer">
                                <div class="col-4 col-sm-5 col-md-2 me-lg-0 me-md-3 ps-3">Cliente</div>
                                <div class="col-8 col-sm-7 col-md-8 ms-lg-1 ms-md-3 ps-lg-2 ps-xl-2">
                                    <select asp-for="DataModel.CustomerId" asp-items="@Model.CustomerList" name="CustomerId"
                                            class="form-select border p-1 shadow" id="selectCustomer">
                                    </select>
                                    <span asp-validation-for="DataModel.CustomerId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-xl-4 col-md-6 col-12 mb-1" id="divCurrencyTransa">
                                <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Transa</div>
                                <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-1 ps-xl-2">
                                    @foreach (var currency in Model.CurrencyTransaList)
                                    {
                                        var isChecked = (currency.Numeral == (int)Model.DataModel.CurrencyTransaType);

                                        <div class="form-check mt-2 mx-1 form-check-inline"
                                             id="@("currencyTransaType_divradio_" + currency.Numeral)">
                                            <input name="CurrenciesTransa"
                                                   checked="@isChecked"
                                                   class="form-check-input border border-dark-subtle currenciesTransa" type="radio"
                                                   onclick="return currencyTransaType_onClick(this)"
                                                   id="@("currencyTransaType_radio_" + currency.Numeral)" value="@currency.Numeral" />
                                            <label class="form-check-label" for="@("currencyTransaType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1" id="divCurrencyTransfer">
                                <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Transfer</div>
                                <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-1 ps-xl-2">
                                    @foreach (var currency in Model.CurrencyTransferList)
                                    {
                                        var isChecked = (currency.Numeral == (int)Model.DataModel.CurrencyTransferType);

                                        <div class="form-check mt-2 mx-1 form-check-inline"
                                             id="@("currencyTransferType_divradio_" + currency.Numeral)">
                                            <input name="CurrenciesTransfer"
                                                   checked="@isChecked"
                                                   class="form-check-input border border-dark-subtle currenciesTransfer" type="radio"
                                                   id="@("currencyTransferType_radio_" + currency.Numeral)"
                                                   value="@currency.Numeral" />
                                            <label class="form-check-label" for="@("currencyTransferType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1" id="divCurrencyDeposit" hidden>
                                <div class="col-sm-5 col-lg-4 col-4 me-2 me-md-2">Mon Deposito</div>
                                <div class="col-xl-6 col-sm-7 col-6 border border-primary border-opacity-25 shadow w-auto ms-1 ms-md-1 ps-xl-2">
                                    @foreach (var currency in Model.CurrencyDepositList)
                                    {
                                        var isChecked = (currency.Numeral == (int)Model.DataModel.CurrencyDepositType);

                                        <div class="form-check mt-2 mx-1 form-check-inline"
                                             id="@("currencyDepositType_divradio_" + currency.Numeral)">
                                            <input name="CurrenciesDeposit"
                                                   checked="@isChecked"
                                                   class="form-check-input border border-dark-subtle currenciesDeposit" type="radio"
                                                   id="@("currencyDepositType_radio_" + currency.Numeral)"
                                                   value="@currency.Numeral" />
                                            <label class="form-check-label" for="@("currencyDepositType_label_" + currency.Numeral)">@currency.Abbreviation</label>
                                        </div>
                                    }

                                </div>
                            </div>

                            @*Contenedor separador, simula un espacio*@
                            <div class="row col-xl-4 d-none typeBuySellhidden">
                            </div>

                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">T/C Oficial</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.ExchangeRateOfficialTransa" id="exchangeRateOfficialTransa" name="ExchangeRateOfficialTransa" class="form-control text-end border p-1 shadow decimalTC" step="any" readonly />
                                    <span asp-validation-for="DataModel.ExchangeRateOfficialTransa" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1 typeBuy">
                                <div class="col-sm-5 col-lg-4 col-4">T/C Compra</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.ExchangeRateBuyTransa" id="exchangeRateBuyTransa" name="ExchangeRateBuyTransa" class="form-control text-end border p-1 shadow decimalTC" step="any" />
                                    <span asp-validation-for="DataModel.ExchangeRateBuyTransa" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1 typeSell" hidden>
                                <div class="col-sm-5 col-lg-4 col-4">T/C Venta</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.ExchangeRateSellTransa" id="exchangeRateSellTransa" name="ExchangeRateSellTransa" class="form-control text-end border p-1 shadow decimalTC" step="any" />
                                    <span asp-validation-for="DataModel.ExchangeRateSellTransa" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1" id="divExchangeRateVariation" hidden>
                                <div class="col-sm-5 col-lg-4 col-4">T/C Variación</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input id="exchangeRateVariation" class="form-control text-end border p-1 shadow decimalTC" step="any" readonly />
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">Monto</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.AmountTransaction" id="amountTransa" name="AmountTransaction" class="form-control text-end border p-1 shadow decimalTransa" step="any" />
                                    <span asp-validation-for="DataModel.AmountTransaction" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1" id="divAmountExchange">
                                <div class="col-sm-5 col-lg-4 col-4">Monto M/C</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.AmountExchange" id="amountExchange" name="AmountExchange" class="form-control text-end border p-1 shadow decimalTransa" step="any" readonly />
                                    <span asp-validation-for="DataModel.AmountExchange" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1 typeBuy" id="divCost">
                                <div class="col-sm-5 col-lg-4 col-4">Costo</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.AmountCost" id="amountCost" name="AmountCost" class="form-control text-end border p-1 shadow decimalTransa" step="any" readonly />
                                    <span asp-validation-for="DataModel.AmountCost" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1 typeSell" id="divRevenue" hidden>
                                <div class="col-sm-5 col-lg-4 col-4">Ingreso</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input asp-for="DataModel.AmountRevenue" id="amountRevenue" name="AmountRevenue" class="form-control text-end border p-1 shadow decimalTransa" step="any" readonly />
                                    <span asp-validation-for="DataModel.AmountRevenue" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-xl-4 col-md-6 col-12 mb-1" id="divCommission" hidden>
                                <div class="col-sm-5 col-lg-4 col-4">Comisión TRF</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <input id="commission" asp-for="DataModel.AmountCommission" name="AmountCommission" class="form-control text-end border p-1 shadow decimalTransa" step="any" />
                                    <span asp-validation-for="DataModel.AmountCommission" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-lg-6 col-12 ps-2 mb-1 typeTransfer" hidden>
                                <div class="col-4 col-sm-5 col-md-2 col-lg-4 col-xl-3 me-lg-0 me-md-3 ps-3">Cta/Ban Orig.</div>
                                <div class="col-8 col-sm-7 col-md-8 col-lg-8 col-xl-9 ms-lg-0 ms-md-3 ps-xl-0 ms-xl-0">
                                    <select asp-for="DataModel.BankAccountSourceId" name="BankAccountSourceId" size="12"
                                            class="form-select border p-1 shadow" id="selectBankAccountSource">
                                        @* <option disabled selected>--Select Cuenta Bancaria--</option> *@
                                        @foreach (var bank in Model.BankAccountSourceList)
                                        {
                                            <option value="@bank.Value">@bank.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="DataModel.BankAccountSourceId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row col-lg-6 col-12 ps-2 mb-1 typeTransfer" hidden>
                                <div class="col-4 col-sm-5 col-md-2 col-lg-4 col-xl-3 me-lg-0 me-md-3 ps-3">Cta/Ban Dest.</div>
                                <div class="col-8 col-sm-7 col-md-8 col-lg-8 col-xl-9 ms-lg-0 ms-md-3 ps-xl-0 ms-xl-0">
                                    <select asp-for="DataModel.BankAccountTargetId" size="12"
                                            class="form-select border p-1 shadow" name="BankAccountTargetId" id="selectBankAccountTarget">
                                        @* <option disabled selected>--Select Cuenta Bancaria--</option> *@
                                        @foreach (var bank in Model.BankAccountTargetList)
                                        {
                                            <option value="@bank.Value">@bank.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="DataModel.BankAccountTargetId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-xl-4 col-md-6 col-12 mb-1">
                                <div class="col-sm-5 col-lg-4 col-4">Ejecutivo</div>
                                <div class="col-xl-6 col-sm-7 col-8">
                                    <select asp-for="DataModel.BusinessExecutiveId"
                                            class="form-select border p-1 shadow" name="BusinessExecutiveId" id="selectBusinessExecutive">
                                        @* <option disabled selected>--Select Ejecutivo--</option> *@
                                        @foreach (var executive in Model.BusinessExecutiveList)
                                        {
                                            <option value="@executive.Id" data-loan="@executive.IsLoan" data-payment="@executive.IsPayment">@executive.Code</option>
                                        }
                                    </select>
                                    <span asp-validation-for="DataModel.BusinessExecutiveId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        let decimalTransa = @Html.Raw(@ViewBag.DecimalTransa);
        let decimalExchange = @Html.Raw(@ViewBag.DecimalExchange);
        let divnamecurDeposit = "currencyDepositType_divradio_";
        let radnamecurDeposit = "currencyDepositType_radio_";
        let divnamecurTransfer = "currencyTransferType_divradio_";
        let radnamecurTransfer = "currencyTransferType_radio_";
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script defer src="~/js/Exchange/Quotation/quotationUpsert.js"></script>
}