@model List<Customer>

<div class="card shadow border-0 mt-1">
    <div class="card-header bg-secondary bg-gradient ml-0 py-1">
        <div class="row align-items-center">
            <div class="col-8 text-center">
                <h3 class="text-white py-1">Clientes</h3>
            </div>
            <div class="col-4 text-end">
                <a asp-controller="Customer" asp-action="ExportExcel" class="btn btn-warning border"
                   data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Exportar a Excel">
                    <i class="bi bi-arrow-up-square-fill"></i> Exportar
                </a>
                <a asp-controller="Customer" asp-action="Import"
                   data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-title="Importar Excel" class="btn btn-success border">
                    <i class="bi bi-box-arrow-in-down"></i> Importar
                </a>
                <a asp-controller="Customer" asp-action="Upsert" class="btn btn-info border"
                   data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" data-bs-title="Nuevo Cliente">
                    <i class="bi bi-plus-circle"></i> Nuevo
                </a>
            </div>
        </div>
    </div>
    <div class="card-body px-3 py-1">
        <table id="tblData" class="table table-hover table-bordered table-striped responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Identificación</th>
                    <th>Razón Social</th>
                    <th>Tipo</th>
                    <th>Sector</th>
                    <th>Activo?</th>
                    <th data-priority="1"></th>
                </tr>
            </thead>
        </table>
        @*  <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Código</th>
        <th>Identificación</th>
        <th>Razón Social</th>
        <th>Tipo</th>
        <th>Sector</th>
        <th>Activo?</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var itm in Model.OrderBy(x => x.BusinessName))
        {
        <tr>
        <td>@itm.Code</td>
        <td>@itm.Identificationnumber</td>
        <td>@itm.BusinessName</td>
        <td>@itm.TypeTrx.Code</td>
        <td>@itm.SectorTrx.Name.Trim()</td>
        <td class="text-center">@(itm.IsActive ? AC.Si : AC.No)</td>
        <td>
        <div class="btn-group" role="group">
        <a asp-controller="Customer" asp-action="Detail"
        asp-route-id="@itm.Id" class="btn btn-success py-1 px-3 my-0 mx-2"
        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver">
        <i class="bi bi-eye fs-4"></i>
        </a>
        </div>
        <div class="btn-group" role="group">
        <a asp-controller="Customer" asp-action="Upsert"
        asp-route-id="@itm.Id" class="btn btn-primary py-1 px-3 my-0 mx-2"
        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Editar">
        <i class="bi bi-pencil-square fs-4"></i>
        </a>
        <a asp-controller="Customer" asp-action="Delete"
        asp-route-id="@itm.Id" class="btn btn-danger py-1 px-3 my-0 mx-2"
        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Eliminar">
        <i class="bi bi-trash-fill fs-4"></i>
        </a>
        </div>
        </td>
        </tr>
        }
        </tbody>
        </table> *@
    </div>
</div>

@section Scripts {
    <script src="~/js/Customer/Customer/customerIndex.js"></script>
}