@page
@model Xanes.Pages.Pages.Banks.IndexModel

<div class="container">
    <div class="row align-items-center pb-3 px-3 mt-2">
        <div class="col-6">
            <h3 class="text-primary">
                Bank List
            </h3>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/banks/create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Bank
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>% Comisión</th>
            <th>Es Compañía</th>
            <th>Orden</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var itm in Model.BankList.OrderBy(x => x.OrderPriority).ThenBy(x => x.Code))
        {
            <tr>
                <td>@itm.Code</td>
                <td>@itm.Name</td>
                <td>@itm.BankingCommissionPercentage</td>
                <td>@itm.IsCompany</td>
                <td>@itm.OrderPriority</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-page="/banks/edit" asp-route-id="@itm.Id" class="btn btn-primary py-1 px-2 my-0 mx-2">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a asp-page="/banks/delete" asp-route-id="@itm.Id" class="btn btn-danger py-1 px-2 my-0 mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>